.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 30px;
    margin-top: 20px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px;

}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}